# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# VSCode
.vscode/

# IDEs
.idea/

# Logs
*.log

# SQLite / database files
*.db
*.sqlite3

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Pycharm
*.iml

# Misc
*.bak
*.swp
